.training-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.training-list-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.training-form {
    width:70%;
    padding:15px;
    margin: 0 auto;
}

.training-container {
    padding: 15px;
}

.training-card {
    border: 1px solid #9fa4ad;
    cursor: pointer;
}

.training-card a, .training-card a:hover{
    all: unset;
}