.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.main-container, .main-wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-wrapper {
    min-height: 43rem;
}

.main-container {
    overflow-y: auto;
    min-height: 42rem;
}